@model Website.Models.ApplicationUser
@{
    ViewBag.Title = "Edit";
    var roles = Generics.Functions.ListDividier(LayerBao.UserBao.GetRoles(null), 2);
    var userRoles = LayerBao.UserBao.GetRoles(Model.Email);
}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-content" style="margin:25px;">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    @Html.HiddenFor(model => model.Id)


                    <fieldset class="form-horizontal">
                        <legend>Edit a user.</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group control-group">
                                    @Html.LabelFor(m => m.Name,"Name", new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group control-group">
                                    @Html.LabelFor(m => m.Email,"Email Address", new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-md-6">
                                <div class="form-group control-group">
                                    @Html.LabelFor(m => m.HomeTown, "Address", new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.HomeTown, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group control-group">
                                    @Html.LabelFor(m => m.PhoneNumber, "Phone Number", new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        @*<div class="row">
                            <div class="col-md-6">

                                <div class="control-group">
                                    @Html.LabelFor(m => m.SecondaryEmailAddress, "Secondary Email", new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.SecondaryEmailAddress, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group control-group">
                                    @Html.LabelFor(m => m.SecondaryPhoneNumber, "Secondary Phone", new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.SecondaryPhoneNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <div class="row">
                            <h4>Modify Role for User</h4>

                            @foreach (var roleList in roles)
                            {
                                <div class="col-md-6">
                                    @foreach (var role in roleList)
                                    {
                            
                                        <div class="togglebutton">
                                            <label>
                                                @if (userRoles.Contains(role))
                                                {
                                                    <input type="checkbox" data-val="@role" @(userRoles.Contains(role) ? "checked=''" : "")>
                                                    <input type="hidden" name="userRoles" value="@(role)"/>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" data-val="@role">
                                                    <input type="hidden" name="userRoles" value="" />
                                                }
                                                @role
                                            </label>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" id="submitBtn" class="btn btn-success">
                                    Save
                                </button>
                                <button type="button" id="submitBtn" class="btn btn-info" loc-ref="@Url.Action("Index","UsersAdmin")">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {
            $(".togglebutton").each(function() {
                $(this).change(function (e, v) {
                    debugger;
                    if ($(this).find("input[type=checkbox]").is(":checked")) {
                        $(this).find("input[type=hidden]").val($(this).find("input[type=checkbox]").attr("data-val"));
                    } else {
                        $(this).find("input[type=hidden]").val("");
                    }
                });
            });
        });
    </script>
}
