@using Microsoft.AspNet.Identity
@using Website.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Article Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("Feed", "Index", "Articles")
                        </li>
                        @if (User.IsInRole(Website.Models.Constants.UserRoles.Reader)
                || User.IsInRole(Website.Models.Constants.UserRoles.Reviewer)
                || User.IsInRole(Website.Models.Constants.UserRoles.Admin)
                || LayerBao.ArticlesBao.MyArticlesCount(User.Identity.GetUserId()) == 0)
                        {
                            <li>
                                @Html.ActionLink("Post Article", "Create", "Articles")
                            </li>
                        }
                        <li>@Html.ActionLink("My Articles", "MyArticles", "Articles")</li>
                        @if (User.IsInRole(Website.Models.Constants.UserRoles.Reviewer)
                || User.IsInRole(Website.Models.Constants.UserRoles.Admin))
                        {
                            <li>@Html.ActionLink("Reviewer Articles", "ReviewerArticles", "Articles")</li>
                        }
                        @if (User.IsInRole(Website.Models.Constants.UserRoles.Reader)
                || User.IsInRole(Website.Models.Constants.UserRoles.Reviewer)
                || User.IsInRole(Website.Models.Constants.UserRoles.Admin))
                        {
                            <li>@Html.ActionLink("Published Articles", "PublishedArticles", "Articles")</li>
                        }

                        @if (User.IsInRole(Website.Models.Constants.UserRoles.Admin))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Admin
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("User Management", "Index", "UsersAdmin")</li>
                                    <li>@Html.ActionLink("New Articles", "NewArticles", "Articles")</li>
                                    <li>@Html.ActionLink("Articles Ready To Publish", "ArticlesWithReviews", "Articles")</li>
                                </ul>
                            </li>
                        }

                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 
                @DateTime.Now.Year - Powered by
                <a href="//octacer.com">Octcaer.com</a>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("[loc-ref]").each(function () {
                $(this).click(function () {
                    location.href = $(this).attr("loc-ref");
                })
            })
        })
    </script>
</body>
</html>
