@model IEnumerable<LayerDb.Models.ArticleManagerView>

@{
    ViewBag.Title = "Index";
  
}

<h3></h3>

<p>
    @Html.ActionLink("Add Article", "Create", "Articles", new { area = "" }, new { @class = "navbar-brand" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Created By
        </th>
        
        <th>@Html.Label("Status")</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <a href="/Articles/Details/@item.Id">
            @Html.DisplayFor(modelItem => item.Title)
        </a>
    </td>

    <td title="@item.CreatedByEmail">
        @Html.DisplayFor(modelItem => item.CreatedByName)
    </td>
    <td>
        @if (item.IsReadyToReview == false)
        {
            <span class="">New Article</span>
        }
        else if (item.IsReadyToReview && item.ReviewCount == 0)
        {

            <span class="">Pending For Review</span>
        }
        else if (item.IsReadyToReview && item.ReviewCount > 0 && item.IsReadyToPublish == false)
        {

            <span class="">Reviewed - Pending For Publish</span>
        }
        else if (item.IsReadyToReview && item.ReviewCount > 0 && item.IsReadyToPublish == true)
        {

            <span class="">Published</span>
        }
    </td>

    <td>
        @if (item.IsReadyToReview == false)
        {
            <a class="btn btn-info btn-sm"
               href="@Url.Action("ReviewRequest","ArticleManagerViews", new { id = item.Id})">Push to Review Queue</a>
        }
        else if (item.IsReadyToReview && item.ReviewCount == 0)
        {
        }
        else if (item.IsReadyToReview && item.ReviewCount > 0 && item.IsReadyToPublish == false)
        {
            <a class="btn btn-success btn-sm"
               href="/Articles/MarkArticleForPublish/@item.Id">Publish the Article</a>
        }
        else if (item.IsReadyToReview && item.ReviewCount > 0 && item.IsReadyToPublish == true)
        {
        }
        <a class="btn btn-danger btn-sm"
           href="@Url.Action("Delete","Articles", new { id = item.Id})">Delete Article</a>
    </td>
    

    @*<td>
        @Html.ActionLink("Edit", "Edit", new {  }) |
        @Html.ActionLink("Details", "Details", new {  }) |
        @Html.ActionLink("Delete", "Delete", new { })
        </td>*@
</tr>
}

</table>
